{% extends "jupicp/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<p class="lead">{% trans "Lost your password? Or even forgot the Loginname you were using here? No problem! Enter your Username (if known) or a mailadress to receive new credentials." %}</p>

<form action="{% url "password" %}" method="post">
 {% csrf_token %}
 {{ form|bootstrap }}
 <div class="form-actions">
  <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
 </div>
</form>
{% endblock %}
